<aside class="side">
  <h2>最新情報はこちら！</h2>
  <div class="menu">
    <div class="menu_item menu_link menu_link_twitter">
      <div class="menu_item_banner">
        <a href="https://twitter.com/nct_kohatabe" target="_blank">
          Twitter @nct_kohatabe
        </a>
      </div>
    </div>
  </div>
  <h2>支援印刷所様</h2>
  <div class="menu">
    <div class="menu_item">
      <div class="menu_item_badge">
        <span class="label label_purple">直接搬入</span
        ><span class="label label_gray">株式会社栄光</span>
      </div>
      <div class="menu_item_banner">
        <a href="https://www.eikou.com/" target="_blank">
          <img
            src="https://shiokazehs.jp/_next/image?url=%2Fprinting%2Feikou.gif&w=3840&q=75"
          />
        </a>
      </div>
    </div>
  </div>

  <h2>姉妹イベント</h2>
  <div class="menu">
    <div class="menu_item">
      <div class="menu_item_badge">
        <span class="label label_blue">TOKYO6</span
        ><span class="label label_gray">しおばな祭</span>
      </div>
      <div class="menu_item_banner">
        <a href="https://shiokazehs.jp/" target="_blank">
          <img
            src="https://shiokazehs.jp/_next/image?url=%2Fevents%2Fkohatabe.png&w=3840&q=75"
          />
        </a>
      </div>
    </div>
  </div>
</aside>
